:root {
	--central-darkblue: #216093;
	--central-red: #dc0714;
	--central-darkgreen: #43a756;
	--central-purple: #b04ec4;
	--central-grey: #b2b2b2;
	--central-pink: #f05097;
	--central-green: #93d50a;
	--central-orange: #fe6b00;
	--central-yellow: #f8d000;
	--central-blue: #00b2e2;

	--background-light: ;
	--background-dark: ;

	--text-light: ;
	--text-dark: ;
	--muted-light: ;
	--muted-dark: ;

	--link-light: ;
	--link-dark: ;
	--hover-light: ;
	--hover-dark: ;

	--live-background: var(--background-light);v
	--live-text: var(--text-light);
	--live-muted: var(--muted-light);
	--live-link: var(--link-light);
	--live-hover: var(--hover-light);
}

.bi {
  /* vertical-align: -.125em; Not needed for <i> tags */
  fill: currentColor;
}

.feature-icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 4rem;
	height: 4rem;
	margin-bottom: 1rem;
	font-size: 2rem;
	color: #fff;
	border-radius: .75rem;
}

.icon-link {
  display: inline-flex;
  align-items: center;
}
.icon-link > .bi {
  margin-top: .125rem;
  margin-left: .125rem;
  transition: transform .25s ease-in-out;
  fill: currentColor;
}
.icon-link-fwd:hover > .bi {
  transform: translate(.25rem);
}
.icon-link-back:hover > .bi {
  transform: translate(-.25rem);
}

a.ignore-link-style {
	color: inherit;
}

a {
	color: var(--central-purple);
}

a:hover {
	color: var(--central-pink);
}

a.nav-link {
	color: var(--central-purple) !important;
}

a.nav-link:hover {
	color: var(--central-pink) !important;
}

.btn-outline-special-purple {
	color: var(--central-purple);
	border-color: var(--central-purple);
}

.btn-outline-special-purple:hover {
	color: white;
	background-color: var(--central-purple);
	border-color: var(--central-purple);
}

.bg-special-purple {
	background-color: var(--central-purple);
}

.bg-special-pink {
	background-color: var(--central-pink);
}

.bg-special-green {
	background-color: var(--central-green);
}

.bg-special-darkblue {
	background-color: var(--central-darkblue);
}

.border-special-purple {
	border-color:  var(--central-purple);
}

.border-special-pink {
	border-color:  var(--central-pink);
}

.border-special-green {
	border-color:  var(--central-green);
}

.text-special-purple {
	color: var(--central-purple);
}

.text-special-pink {
	color: var(--central-pink);
}

.text-special-green {
	color: var(--central-green);
}

.text-special-red {
	color: var(--central-red);
}

.text-special-orange {
	color: var(--central-orange);
}

.text-special-darkgreen {
	color: var(--central-darkgreen);
}

.special-disabled {
	opacity: 0.5 !important;
}

.cone-icon {
	color: var(--central-purple);
	/* stroke: var(--special-purple);
	stroke-width: 0.2px; */
}

.cone-icon-text {
	color: var(--bs-dark);
}

.disabled-anchor {
	pointer-events: none;
}
